<a class="skip-link" id="skip-to-main" href="#skip-to-nav" tabindex="0">Skip navigation menu</a>
<header class="global-header-checkout" data-component="global-header-checkout">
  <a class="global-header__logo" href="{{rootPath}}/index.html">
    <span class="global-header__site-icon" aria-hidden="true">A</span>
    <h1 class="global-header__site-name">
      The <br />Accessible <br />eStore
    </h1>
  </a>
  <div class="global-header-checkout__mobile-toggles">
    <button class="btn btn--mobile btn--menu-toggle" data-js="hamburger-toggle" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="menu" aria-label="Navigation">
      Menu
      <svg class="icon icon--menu-btn">
        <use xlink:href="{{rootPath}}/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>

  <nav class="primary-nav-checkout" aria-label="Primary" data-js="hamburger-dropdown">
    <ul class="primary-nav-checkout__items">
      <li class="primary-nav-checkout__item has-submenu">
        <button class="primary-nav-checkout__heading" id="main-nav-women" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Women
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav-checkout__submenu">
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Womens</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav-checkout__item has-submenu">
        <button class="primary-nav-checkout__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Men
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav-checkout__submenu">
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Mens</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Kilts</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav-checkout__item has-submenu">
        <button class="primary-nav-checkout__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Girls
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav-checkout__submenu">
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Girls</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav-checkout__item has-submenu">
        <button class="primary-nav-checkout__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Boys
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav-checkout__submenu">
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Boys</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item-checkout">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="secondary-nav-checkout" aria-label="Secondary" data-js="hamburger-dropdown">
    <ul class="secondary-nav__items">
      <li class="secondary-nav__item">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#account"></use>
          </svg> Account
        </button>
      </li>
      <li class="secondary-nav__item secondary-nav__mini-cart mini-cart__toggle" data-component="mini-cart">
        <button aria-label="Mini Cart, 2 items, estimated subtotal: $42.92" data-js="mini-cart-toggle" class="secondary-nav__button" aria-haspopup="true" aria-expanded="false">
          <span aria-live="assertive" aria-atomic="true" class="element-invisible mini-cart__aria">You have 0 items in
            your cart.</span>
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#cart"></use>
          </svg>
          Cart
          <span class="mini-cart__visible-label--amount" data-js="cart-item-count">0</span>
        </button>
        <div data-template="mini-cart"></div>
      </li>
      <li class="secondary-nav__item secondary-nav__stores">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#stores"></use>
          </svg> Stores
        </button>
      </li>
      <li class="secondary-nav__item secondary-nav__contact">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#contact"></use>
          </svg> Contact
        </button>
      </li>
    </ul>
  </nav>
  <div class="checkout-info">
    <h2 class="checkout-info__heading">
      <svg class="icon icon--lock">
        <use xlink:href="{{rootPath}}/sprite.svg#lock"></use>
      </svg>
      Secure Checkout
    </h2>
    <p class="checkout-info__contact">Contact Number: <span>999-999-9999</span></p>
  </div>
</header>
<a class="skip-link" id="skip-to-nav" href="#skip-to-main" tabindex="0">Return to navigation menu</a>
