<div class="container">
    <section>
        <nav aria-label="Breadcrumb" class="breadcrumbs" id="breadcrumbs" tabindex="0">
            <ol>
                {{#each breadcrumbs}}
                <li>
                    {{#if link}}
                    <a href="{{link}}" class="breadcrumb" tabindex="-1">{{label}}</a>
                    {{else}}
                    <a href="./index.html" class="breadcrumb" aria-current="page" tabindex="-1">{{label}}</a>
                    {{/if}}
                </li>
                {{/each}}
            </ol>
        </nav>
        <nav class="breadcrumb--back-link">
            &lt; <a href="{{parent.link}}">Back to {{parent.label}}</a>
        </nav>
    </section>
</div>