<div class="product-details" data-component="product-details">
  <div class="product-description">
    <h1 class="product-description__title">{{product_name}}</h1>
    <span class="product-description__price" aria-label="product price">
      <span class="product-description__price-now">
        <span class="price__label" aria-hidden="true">Price</span>
        <span class="price__dollar" aria-hidden="true">${{price_sale}}</span>
        <span class="element-invisible">current price ${{price_sale}}</span>
      </span>

      <span class="product-description__price-was">
        <span class="price__label" aria-hidden="true">was</span>
        <span class="price__dollar" aria-hidden="true">${{price_actual}}</span>
        <span class="element-invisible">was ${{price_actual}}</span>
      </span>
      <span class="product-description__price-save">
        <span class="price__label" aria-hidden="true">save</span>
        <span class="price__dollar" aria-hidden="true">${{price_savings}}</span>
        <span class="element-invisible">save ${{price_savings}}</span>
      </span>
    </span>
    <p class="product-description__summary">
      {{short_desc}}
      <br />
      <a href="#product-description" class="product-description__read-more">Full product description</a>
    </p>

    <form class="product-form" data-component="product-form">
      <hr class="divider" />
      <div class="product-rating">
        <div class="product-description__input-title">Rating</div>
        <div class="product-rating__display" aria-hidden="true">
          <div class="product-rating__stars">
            {{#each ratings}}
            <svg class="icon product-rating__star">
              <use xlink:href="../sprite.svg#{{this}}"></use>
            </svg>
            {{/each}}
            <span class="product-rating__value">{{rating}} out of 5</span>
            <span class="product-rating__count">({{rating_count}}<span class="element-invisible"> reviews</span>)</span>
          </div>
        </div>
        <a class="product-rating__view-button" href="#product-reviews">
          <span class="element-invisible">Rating: 3.5 out of 5 based on 156 reviews.</span>
          Ratings and reviews
        </a>
      </div>
      <hr class="divider" />
      <input type="hidden" name="product_name" value="{{product_name}}">
      <input type="hidden" name="product_id" value="{{product_id}}">
      <input type="hidden" name="price_sale" value="{{price_sale}}" />
      <input type="hidden" name="thumbnail_url" value="{{thumbnail_url}}" />
      <div class="product-description__color-and-size">

        <fieldset class="product-description__color">
          <legend id="color" class="product-description__input-title">Select Color</legend>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="red" name="color" id="color-red" aria-describedby="color">
            <label for="color-red" class="radio__label"> Red</label>
          </div>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="orange" name="color" id="color-orange" aria-describedby="color">
            <label for="color-orange" class="radio__label">Orange</label>
          </div>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="white" name="color" id="color-white" aria-describedby="color" checked>
            <label for="color-white" class="radio__label">White</label>
          </div>
          <a class="skip-link" href="#skip-to-gallery" id="skip-to-details">Jump to product gallery</a>
        </fieldset>

        <fieldset class="product-description__size">
          <legend id="size" class="product-description__input-title">Select Size</legend>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="small" name="size" id="size-small" aria-describedby="size" checked>
            <label for="size-small" class="radio__label">Small</label>
          </div>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="medium" name="size" id="size-medium" aria-describedby="size">
            <label for="size-medium" class="radio__label">Medium</label>
          </div>
          <div class="product-description__radio-group">
            <input type="radio" class="radio__input" value="large" name="size" id="size-large" aria-describedby="size">
            <label for="size-large" class="radio__label">Large</label>
          </div>
          <a href="#size-chart" class="size-chart__link">
            <svg class="icon icon--ruler">
              <use xlink:href="../sprite.svg#ruler"></use>
            </svg>Size chart
          </a>
        </fieldset>

      </div>
      <hr class="divider" />
      <div class="product-actions">


        <div class="product-actions__cart">
          <div class="product-description__input-title">Quantity</div>
          <span class="quantity-comp">
            <button class="quantity-comp__decrease btn btn--black btn--icon" type="button">
              <span class="sr-only">Decrease quantity</span>
              <svg class="icon icon--ruler">
                <use xlink:href="../sprite.svg#remove"></use>
              </svg>
            </button>
            <!-- <label for="quantity">Qty:</label> -->
            <input type="text" aria-label="quantity" value="1" class="quantity-comp__text" name="quantity" id="quantity" data-js="quantity">
            <span aria-live="assertive" aria-atomic="true" class="element-invisible quantity-comp__aria">Quantity is now
              <span> 1 </span></span>
            <button class="quantity-comp__increase btn btn--black btn--icon" type="button">
              <span class="sr-only">Increase quantity</span>
              <svg class="icon icon--ruler">
                <use xlink:href="../sprite.svg#add"></use>
              </svg>
            </button>
          </span>
          <button class="product-actions__add-to-cart btn btn--primary" type="submit">Add to Cart</button>
          <button class="product-actions__add-to-wishlist btn btn--favorites" type="button" data-modal-show="construction-modal">
            <svg class="icon icon--heart">
              <use xlink:href="../sprite.svg#heart"></use>
            </svg>
            Save <span class="sr-only">to wish list</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
