<article class="productGrid__product-tile product-tile">
  <a class="product-tile__link" href="../pdp/index.html?product_id={{product_id}}">
    <img class="product-tile__image" src="../satin-shirt.jpg" alt="">
    <p class="product-tile__product-name" aria-label="learn more about: {{product_name}}, {{price_sale}}">{{product_name}}</p>
    <span class="product-tile__price">${{price_sale}}</span>
  </a>
</article>