<article class="productGrid__product-tile product-tile" aria-labelledby="{{product_id}}">
    <a class="product-tile__link" href="./pdp/index.html?product_id={{product_id}}" id="{{product_id}}"
        aria-label="{{product_name}}, ${{price_sale}}, product details">
        <img class="product-tile__image" src="./{{thumbnail_url}}" alt="">
        <h2 class="product-tile__product-name" aria-label="{{product_name}} ${{price_sale}}">{{product_name}}</h2>
        <span class="product-tile__price">${{price_sale}}</span>
    </a>
</article>