<article class="productGrid__product-tile product-tile">
    <a class="product-tile__link" href="../pdp/index.html?product_id={{product_id}}" aria-label="{{product_name}}, ${{price_sale}}, product details">
        <img class="product-tile__image" src="../satin-shirt.jpg" alt="">
        <p class="product-tile__product-name">{{product_name}}</p>
        <span class="product-tile__price">${{price_sale}}</span>
    </a>
</article>