<a class="skip-link" id="skip-to-main" href="#skip-to-nav" tabindex="0">Skip to main</a>
<a class="skip-link" id="skip-to-search" href="#global-header__search-input" tabindex="0">Skip to search</a>
<a class="skip-link" id="skip-to-cart" href="#mini-cart-button" tabindex="0">Skip to cart</a>
<a class="skip-link" id="skip-to-categories" href="#main-nav-women" tabindex="0">Skip to product categories</a>
<a class="skip-link" id="skip-to-about" href="#footer_about-link" tabindex="0">Skip to about us</a>
<a class="skip-link" id="skip-to-statement" href="#footer_statement-link" tabindex="0">Skip to accessibility
  statement</a>
<header class="global-header" data-component="global-header">
  <a class="global-header__logo" href="{{rootPath}}/index.html">
    <span class="global-header__site-icon" aria-hidden="true">A</span>
    <h1 class="global-header__site-name" aria-label="the accessible e store">
      The <br />Accessible <br />eStore
    </h1>
  </a>
  <div class="global-header__mobile-toggles">
    <button class="btn btn--mobile btn--mobile-search" type="button" aria-haspopup="true" aria-expanded="false"
      aria-controls="search" aria-label="search">
      Search
      <svg class="icon icon--menu-btn">
        <use xlink:href="{{rootPath}}/sprite.svg#search"></use>
      </svg>
    </button>
    <button class="btn btn--mobile btn--menu-toggle" data-js="hamburger-toggle" type="button" aria-haspopup="true"
      aria-expanded="false" aria-controls="menu" aria-label="Navigation">
      Menu
      <svg class="icon icon--menu-btn">
        <use xlink:href="{{rootPath}}/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>

  <form action="" id="global-header__search-form" class="global-header__search-form">
    <label for="global-header__search-input">Search</label>
    <input type="text" id="global-header__search-input" class="global-header__search-input" />
    <button class="global-header__search-btn" data-modal-show="construction-modal">
      <span class="sr-only">Search</span>
      <svg class="icon icon--search-btn">
        <use xlink:href="{{rootPath}}/sprite.svg#search"></use>
      </svg>
    </button>
  </form>

  <nav class="primary-nav" aria-label="Primary" data-js="hamburger-dropdown">
    <ul class="primary-nav__items">
      <li class="primary-nav__item has-submenu">
        <button class="primary-nav__heading" id="main-nav-women" data-js="dropdown-toggle" aria-haspopup="true"
          aria-expanded="false">
          Women
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav__submenu">
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Womens</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav__item has-submenu">
        <button class="primary-nav__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Men
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav__submenu">
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Mens</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Kilts</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav__item has-submenu">
        <button class="primary-nav__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Girls
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav__submenu">
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Girls</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
      <li class="primary-nav__item has-submenu">
        <button class="primary-nav__heading" data-js="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          Boys
          <svg class="icon icon--chevron">
            <use xlink:href="{{rootPath}}/sprite.svg#chevron"></use>
          </svg>
        </button>
        <ul class="primary-nav__submenu">
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Boys</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Tops</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Pants</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Dresses</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Shoes</a>
          </li>
          <li class="submenu-item">
            <a href="{{rootPath}}/plp/index.html">Hats</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class="secondary-nav" aria-label="Secondary" data-js="hamburger-dropdown">
    <ul class="secondary-nav__items">
      <li class="secondary-nav__item">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#account"></use>
          </svg> Account
        </button>
      </li>
      <li class="secondary-nav__item secondary-nav__mini-cart mini-cart__toggle" data-component="mini-cart">
        <button id='mini-cart-button' aria-label="Mini Cart, 0 items" data-js="mini-cart-toggle"
          class="secondary-nav__button" aria-haspopup="true" aria-expanded="false">
          <span aria-live="assertive" aria-atomic="true" class="element-invisible mini-cart__aria">You have 0 items in
            your cart.</span>
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#cart"></use>
          </svg>
          Cart
          <span class="mini-cart__visible-label--amount" data-js="cart-item-count">0</span>
        </button>
        <div data-template="mini-cart"></div>
      </li>
      <li class="secondary-nav__item secondary-nav__stores">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#stores"></use>
          </svg> Stores
        </button>
      </li>
      <li class="secondary-nav__item secondary-nav__contact">
        <button class="secondary-nav__button" data-modal-show="construction-modal">
          <svg class="icon icon--menu-btn">
            <use xlink:href="{{rootPath}}/sprite.svg#contact"></use>
          </svg> Contact
        </button>
      </li>
    </ul>
  </nav>
</header>
<a class="skip-link" id="skip-to-nav" href="#skip-to-main" tabindex="0">Return to navigation menu</a>